<form nz-form class="updateAccountF">
  <nz-row [nzGutter]="{ xs: 8, sm: 10, md: 12, lg: 14, xl: 20 }">
    <nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
      <nz-form-item>
        <nz-form-label
          [nzLabelAlign]="'left'"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          for="subjectId"
          >Mã môn học</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
          <input nz-input id="subjectId" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
      <nz-form-item>
        <nz-form-label
          [nzLabelAlign]="'left'"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          for="subjectName"
          >Tên môn học</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
          <input nz-input id="subjectName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzLg]="8" [nzMd]="8" [nzSm]="24" [nzXs]="24">
      <nz-form-item>
        <nz-form-label
          [nzLabelAlign]="'left'"
          [nzXs]="24"
          [nzSm]="24"
          [nzMd]="24"
          [nzLg]="24"
          for="subjectGrade"
          >Điểm hệ 10</nz-form-label
        >
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24">
          <input nz-input id="subjectGrade" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row nzJustify="center" class="btn-container">
    <nz-col>
      <button
        nz-button
        nzSize="large"
        type="submit"
        style="
          background-color: #4b945bee;
          color: #fff;
          font-weight: bold;
          border-radius: 8px;
        "
      >
        Cập nhật
      </button>
    </nz-col>
  </nz-row>
</form>
