
.detail-lecturer {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f7f9fc;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .detail-lecturer h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #3c3c3c;
    margin-bottom: 20px;
    text-align: center;
  }